.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.loader {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
h2 {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
