.app {
  display: flex;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.loader {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  type: 'Puff';
  color: '#00BFFF';
  height: 100px;
  width: 100px;
  timeout: 3000;
}
/* h2 {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
 */
