.details {
  display: flex;
}

.poster {
  width: 300px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.detailsInfo {
  margin-left: 30px;
  margin-top: 50px;
}
.genres {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.genresName {
  margin-right: 10px;
}
.additional {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.infoLinks {
  padding: 10px;
  display: block;
}
.infoLinksItem {
  display: block;
  margin: 10px;
}
.castPoster {
  width: 150px;
  margin-top: 10px;
}
